@model IEnumerable<Director>

<a class="btn btn-success my-5" asp-controller="Director" asp-action="Create">Create new Director</a>

<div class="row">
    @foreach (var director in Model)
    {
        @Html.Partial("DirectorPartial", director)
    }
</div>