@model IEnumerable<Director>

<a class="btn btn-success mt-5" style="margin: 10px" asp-controller="Director" asp-action="Create">Create new Director</a>

<div class="row">
    @foreach (var director in Model)
    {
        @Html.PartialAsync("DirectorPartial", director)
    }
</div>