@model Director

<div class="row">
    <form asp-controller="Director" asp-action="Update" method="post" class="col-md-8">
        <h3 class="col-md-12 my-5">Edit Director @Model.Name</h3>
        @Html.HiddenFor(m => Model.Id)
        @Html.HiddenFor(m => Model.CreatedAt)
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group col-md-6 mt-3">
                <input class="btn btn-primary col-md-3 mr-3" type="submit" value="Return" asp-controller="Director" asp-action="Index" />
                <input class="btn btn-success col-md-3" type="submit" value="Update" />
            </div>
        </div>
    </form>
</div>